<!doctype html>
<head>
<link type="text/css" href="../static/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1>CodeStats</h1>
  <p>Here's a breakdown of your code:</p>

  <div class="block engines-block">
    {% for n, v in results['analysis'].items() %}
    <div class="engine full-page">
      <h2 class="engine-name">{{ n }}</h2>
      <p class="engine-attribute">
      {{ results['analysis'][n]['attribute'] }}
      </p>
      <p class="engine-message">
      {{ results['analysis'][n]['reason'] }}
      </p>
    </div>
    {% endfor %}
  </div><!-- end engines-block -->

  <div class="block highlights-block">

    <div class="half-block full-page">
      <h2 class="highlight-title">Longest variable</h2>
      {% for n, v in results['highlights']['longest'].items() %}
      <p class="highlight-variable">{{ n }} </p>
      <p>has {{ v }} characters!</p>
      {% endfor %}
    </div>

    <div class="half-block full-page">
      <h2 class="highlight-title">Most used variable name</h2>
      {% for n, v in results['highlights']['most_used'].items() %}
      <p class="highlight-variable">{{ n }} </p>
      <p>Used {{ v }} times!</p>
      {% endfor %}
    </div>

  </div><!-- end highlights-block -->

  <div class="block stats-block">

    <div class="half-block full-page">
      <h2 class="stat-title">Top 10 longest variable names</h2>
      <table class="leaderboard">
        <tbody>
        {% for l in results['stats']['longest_10'] %}
        <tr>
          {% for n, v in l.items() %}
          <td>{{ n }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="half-block full-page">
      <h2 class="stat-title">Top 10 most used variable names</h2>
      <table class="leaderboard">
        <tbody>
        {% for l in results['stats']['most_used_10'] %}
        <tr>
          {% for n, v in l.items() %}
          <td>{{ n }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div><!-- end stats-block -->

  <div class="raw-block" style="display: none;">
    {{ results }}
  </div>


</div>
</body>
</html>
